.profile,
.timetables,
.map,
.subjects,
.teachers,
.tasks {
    background: #9b59b6;
    color: hsl(0, 0%, 90%);
    border: 2px solid black;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;

    padding: 4px 4px;
    border-radius: 120px;

    cursor: grab;
    text-decoration: none;
    line-height: 200%;
}

.profile:hover {
    color: hsl(180, 50%, 88%);
    border-color: white;
}

.timetables:hover {
    color: hsl(180, 50%, 88%);
    border-color: white;
}

.map:hover {
    color: hsl(180, 50%, 88%);
    border-color: white;
}

.subjects:hover {
    color: hsl(180, 50%, 88%);
    border-color: white;
}

.teachers:hover {
    color: hsl(180, 50%, 88%);
    border-color: white;
}

.tasks:hover {
    color: hsl(180, 50%, 88%);
    border-color: white;
}