.menu-button {
    background: #9b59b6;
    color: hsl(0, 0%, 90%);
    border: 2px solid black;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;

    padding: 4px 4px;
    border-radius: 120px;

    cursor: grab;
    text-decoration: none;
    line-height: 200%;
}

.menu-button:hover {
    color: hsl(180, 50%, 88%);
    border-color: white;
    text-decoration: underline hsl(180, 50%, 88%);
}