.auth-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    display: flex;

    background: #9b59b6;
    border: 2px solid black;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;

    height: 40px;
    width: 120px;
    padding: 4px 4px;
    border-radius: 10em;

    cursor: grab;
    text-decoration: none;

    min-width: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.btn a {
    text-decoration: none;
    color: hsl(0, 0%, 90%);
}

.btn:hover {
    color: hsl(180, 50%, 88%);
    border-color: white;
}