.main-logo {
    text-align: right;
    filter: drop-shadow(3px 3px 5px #000000) drop-shadow(2px 2px 2px blue);
}

.task-pict {
    text-align: left;
    filter: drop-shadow(3px 3px 5px #000000) drop-shadow(2px 2px 2px blue);
}

@media screen and (max-width: 360px) {
    .task-pict{
        display: none;
    }
}

.teachers-pict{
    text-align: left;
    filter: drop-shadow(3px 3px 5px #000000) drop-shadow(2px 2px 2px blue);
}

@media screen and (max-width: 420px) {
    .teachers-pict{
        display: none;
    }
}